<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>{% block title %} {% endblock %}Northstar - ForgeFed</title>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='main.css') }}"
			type="text/css"
			media="all"
		/>
		<link
			rel="stylesheet"
			href="{{ url_for('static', filename='mobile.css') }}"
			type="text/css"
			media="screen and (max-width: 1250px)"
		/>
	</head>
	<body>
		<header>{% include "nav.html" %}</header>
		<main>{% block main %} {% endblock %}</main>
		{% include "footer.html" %}
	</body>
</html>
